<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
  <!-- partial:index.partial.html -->
  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="{% static 'images/IMG20220203195802.jpg' %}" />
      <br><br>
      <h6 style="color : white">Admin</h6>

    </header>
    <ul>
      <li tabindex="0" class="icon-dashboard"> <a style="color:white; text-decoration:none;" href="{% url 'admin_home' %}"><span>Dashboard</span></a> </li>

      <li tabindex="0" class="nav-item dropdown icon-customers">
        <a href="" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop"
				data-toggle="dropdown" style="color:white; text-decoration:none;"> Doctor</a>
				<div class="dropdown-menu">
					<a href="{% url 'add_doctor' %}" class="dropdown-item">Add Doctor</a>
					<a href="{% url 'view_doctor' %}" class="dropdown-item">View Doctor</a>
				</div>
      </li>

      <li tabindex="0" class="nav-item dropdown icon-users">
        <a href="" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop"
				data-toggle="dropdown" style="color:white; text-decoration:none;"> Patient</a>
				<div class="dropdown-menu">
					<a href="{% url 'add_patient' %}" class="dropdown-item">Add Patient</a>
					<a href="{% url 'view_patient' %}" class="dropdown-item">View Patient</a>
				</div>
      </li>

      <li tabindex="0" class="nav-item dropdown icon-calendar">
        <a href="" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop"
				data-toggle="dropdown" style="color:white; text-decoration:none;"> Appointment</a>
				<div class="dropdown-menu">
					<a href="{% url 'add_appointment' %}" class="dropdown-item">Add Appointment</a>
					<a href="{% url 'view_appointment' %}" class="dropdown-item">View Appointment</a>
				</div>
      </li>
    </ul>
  </nav>

  <main>
    <!-- nav start -->
    <div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#c2185b;">
        <a href="#" class="navbar-brand">HOSPITAL MANAGEMENT SYSTEM</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 90%;">

            <a href="{% url 'logout' %}" class="nav-item nav-link"><i class="fas fa-power-off"></i> Logout</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- nav end -->

    <!-- content start-->
    {% block content %}

    {% endblock content %}
    <!-- content end-->
  </main>
</body>
</html>